html, body {
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1532938911079-1b06ac7ceec7?ixlib=rb-1.2.1&auto=format&fit=crop&w=2689&q=80);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}

nav {
    display: flex;
    padding: 20px;
    justify-content: flex-end;
    font-size: 1.2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    background-color: rgb(2, 148, 216, 0.5);
}

nav div {
    padding-right: 10px;
}

nav a {
    color: white;
}

nav a:hover {
    color: rgb(243, 37, 19);
    text-decoration: underline;
    font-size: 25px;
}

header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

header h1 {
    font-size: 3em;
    font-weight: bold;
}

.container {
    background-color: rgb(2, 148, 216);
    color: white;
    padding: 10px;
    width: 75%;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.landing {
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
}

.landing label {
    padding-right: 10px;
}

#doctorLocation, #special, #symptom {
    margin-right: 10px;
}

#submit-icon {
    background-image: url("https://image.flaticon.com/icons/png/512/55/55369.png"); 
    background-size: cover;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    color: transparent;
    background-color: rgb(2, 148, 216);
    border: 2px solid black;
  }

  #submit-icon:hover {
      background-color: white;
  }

  .display-doctors {
      font-family: 'Roboto', sans-serif;
      font-size: 18px;
  }

  .display-doctors h2 {
      text-align: center;
  }

  .doc-container {
      border: 1px solid black;
      display: flex;
      height: 40%;
      width: 90%;
      margin: auto;
  }

  .doc-img {
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  .prof-bio {
      padding: 10px;
  }

  .bio {
      font-size: 16px;
  }

  .no-result {
      text-align: center;
      font-size: 20px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 200px;
  }

  @media screen and (max-width: 1050px) {
    .container {
        margin-top: 100px;
    }
    .landing {
        flex-direction: column;
    }
    .landing input {
        margin: 10px 0;
        padding: 5px;
        font-size: 1.2rem;
    }
    .landing label {
        font-size: 1.2rem;
    }
    .landing input[type="submit"] {
        margin: auto;
        padding: 1rem;
    }
}

  @media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
    .landing {
        flex-direction: column;
    }
    .landing input {
        margin: 10px 0;
        padding: 5px;
        font-size: 1.2rem;
    }
    .landing label {
        font-size: 1.2rem;
    }
    .landing input[type="submit"] {
        margin: auto;
        padding: 1rem;
    }
}

